* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
  }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    margin:0;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize:both;
    color: #000000;
    border-left: 1px solid black;
    padding: 1px;
    font-size:12px;
    /* width:100%;
    height: 100%; */
    min-height: 100%;
    min-width: 100%;
  }

  ul{
    list-style-type: none;
  }

  /* button{
    width:60%;
  } */

  #today-uv-index{
    background-color: yellow;
  }

  .remove-card-div{
    border: 1px solid white;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 1px;
    border: 1px solid black;
  }
  
  /* .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  } */
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: grey;
  }
  
  .present {
    background-color: #ff6961;
    color: red;
  }
  
  .future {
    background-color: #77dd77;
    color: green;
  }
  
  .save-button {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
    min-width: 100%;
    min-height: 100%;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  #saved-search-cities li{
      text-decoration: none;
  }
  
.carousel-item {
    width: 80%; 
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}